@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--cool-mint: #2ECC71;
	--Deep-navy: #14213D;
	--light-navy: #14213e12;
	--vtw: #d9d9d905;
	--vt: #d9d9d912;
	--soft-gray: #E5E5E5;
}

/* General styling*/
body{
	font-family: "Inter", serif;
	color: white;
	background-color: var(--Deep-navy);
}

img{
	max-width: 100%;
}

ul{
	list-style-type: none;
}

button{
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 13px 23px;
	border-radius: 7px;
	border: none;
	background-color: transparent;
}

/*Navigation Menu*/
.menu-icon .nav-menu{
	background-color: var(--vtw);
    position: fixed;
    top: 0;
    right: -250px; 
    height: 100%; 
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; 
    transition: 0.5s ease-in-out;
} 

.nav-menu .nav-list{
	flex: 1;
	display: flex;
    flex-direction: column;
	justify-content: center;
}

body.show-mobile-menu .menu-icon .nav-menu{
	right: 0;
}

body.show-mobile-menu header::before{
	content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
}

.menu-icon .nav-menu .nav-link {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: bold;
	gap: 40px;
}

.menu-icon .nav-item{
	width: 250px;
	height: 50px;
	margin-bottom: 20px;
	background-color: var(--vt);
	font-size: 14px;
	display: flex;
    align-items: center;
	justify-content: center;
}

.menu-icon #open-menu-btn, #close-menu-btn{
	font-size: 1.3rem;
	display: block;
	color: white;
	position: fixed;
}

.menu-icon #close-menu-btn{
	position:absolute;
	top: 30px;
	left: 10px;
}

.menu-icon{
	display: flex;
	justify-content: flex-end;
	background-color: var(--Deep-navy);
}

#open-btn{
	display: none;
}

.user-info #close-btn{
	display: none;
}

/* Left Side*/
.left-side{
	width: 250px;
	height: 100vh;
	background-color: var(--vtw);
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	overflow: hidden;
	display: flex;
    flex-direction: column;
}

#side-details{
	position: relative;
	flex: 1;
	display: flex;
    flex-direction: column;
}

.user-info{
	overflow: hidden;
	background-color: var(--vt);
	padding: 20px 0;
	text-align: center;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
}

#user-identity h1{
	font-family: "Montserrat", serif;
	font-size: 12px;
	font-weight: 600;
}

#user-identity p{
	font-size: 12px;
	font-weight: 400;
	line-height: 2;
}


#user__image{
	padding: 20px 0;
	text-align: center
}

#user-image{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	border: 3px solid var(--Deep-navy);
}

/*SKILLS*/
.skills{
	flex-grow: 1; 
    overflow-y: auto;
}

.skills ul{
	padding: 55px 20px 0;
}

.skills li{
	margin-bottom: 10px;
}

.skills p{
	font-family: "Inter", serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 2;
}

/*Progress Bar*/
.progress-bar{
	height: 5px;
	display: block;
	background-color: var(--vtw);
	border-radius: 50px;
}

.progress-bar span{
	height: 5px;
	float: left;
	display: block;
	background-color: white;
	border-radius: 50px;
}


/*Progress Bar Animation*/
.html{
	width: 80%;
	animation: html 3s;
}

@keyframes html {
	0%{
		width: 0%;
	}
	100%{
		width: 80%;
	}
}

.css{
	width: 85%;
	animation: css 3s;
}

@keyframes css {
	0%{
		width: 0%;
	}
	100%{
		width: 85%;
	}
}

.javascript{
	width: 50%;
	animation: css 3s;
}

@keyframes javascript {
	0%{
		width: 0%;
	}
	100%{
		width: 50%;
	}
}

.bootstrap{
	width: 70%;
	animation: bootstrap 3s;
}

@keyframes bootstrap {
	0%{
		width: 0%;
	}
	100%{
		width: 70%;
	}
}

.git{
	width: 70%;
	animation: git 3s;
}

@keyframes git {
	0%{
		width: 0%;
	}
	100%{
		width: 50%;
	}
}

/* Toggle Mode */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
  	height: 24px;
}

.switch input{
	opacity: 0;
	width: 0;
	height: 0;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before{
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider{
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before{
	-webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

.switch input{
	opacity: 0;
	width: 0;
	height: 0;
}

#toggle-switch{
	display: grid;
	justify-content: flex-end;
	padding: 10px;
    text-align: center;
	margin-top: auto;
}

#toggle-description p{
	font-size: 12px;
}

#toggle-sign i{
	font-size: 10px;
}

#toggle-sign{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2px;
}

#toggle-mode p{
	font-size: 12px;
	margin-top: -3px;
	padding-left: 5px;
}

/*Social Icons*/
.social-icons{
	background-color: var(--vt);
	padding: 15px 0;
	text-align: center;
}

.social-icons ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0;
}

.social-icons li a{
	color: white;
}


/*Middle Section*/
.middle-section{
	margin-left: 250px;
}

.second-section{
	overflow: hidden;
	background-color: var(--vt);
	width: 800px;
	padding: 20px 60px;
}

.description-info{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.section2-image img{
	width: 200px;
	height: 200px;
}

/*H1*/
.heading-1-section2{
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
}

.para1-section2{
	width: 340px;
	font-size: 14px;
	font-weight: 300;
	padding: 10px 0;
}

/*Homepage Buttons*/
.btns{
	display: flex;
	gap: 20px;
	padding-top: 10px;
}

.git-btn{
	background-color: var(--cool-mint);
	border: 3px solid var(--cool-mint);
	outline: none;
}

.git-btn i{
	font-size: 16px;
	padding-right: 10px;
}

.resume-btn{
	background-color: transparent;	
	border: 3px solid var(--Deep-navy);
}

.resume-btn i{
	font-size: 16px;
	padding-right: 10px;
}

#home{
	height: 100vh;
	padding: 100px 70px;
}

/* About Me Section*/
#abt-txt{
	font-family: "Montserrat", serif;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 3px;
	background-image: linear-gradient(135deg, white, var(--cool-mint));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	word-wrap: break-word;
}

.about-text{
	padding-bottom: 10px;
}
#about-me{
	height: 100vh;
	padding: 25px 70px;
}

.wrapper{
	display:flex;
	gap: 20px;
}

.skills-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--vt);
	border: 2px solid var(--soft-gray);
	border-radius: 15px;
	padding: 25px 30px;
}

.column{
	flex: 1;
}

.column-one{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	justify-content: center;
	align-content: center;
}

.column-two h3{
	font-family: "Montserrat", serif;
	font-size: 16px;
/*	color: var(--cool-mint);*/
}

.column-two p{
	padding: 20px 0;
	font-size: 14px;
	line-height: 1.6;
}

.column-two table{
	width: 100%;
	border-collapse: collapse;
}

.column-two table td{
	padding: 16px 0;
}

.column-two table th{
	text-align: left;
}


.column-two table tr{
	border-bottom: 1px dashed white;
}

.column-two table tr:nth-child(odd){
	background-color: var(--vt);
}

.column-two table tr:hover{
	background-color: var(--light-navy);
}

/* Loader */
.progress-circle{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 15px;
	display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
}

.progress-circle::before{
	content: "";
	position: absolute;
	width: 85px;
	height: 85px;
	border-radius: 50%;
	background-color: var(--Deep-navy);
}

.percentage {
    position: absolute;
    font-size: 16px;
    font-weight: bold;
	color: white;
}

/* Progress Circle animation*/
.html-circle{
	background: conic-gradient(white calc(80 * 3.6deg), var(--vt) calc(80 * 3.6deg));
	animation: html-circle 3s;
}

@keyframes html-circle{
	0% {
                background: conic-gradient(white 0deg, var(--vt) 0deg);
            }
	100% {
		background: conic-gradient(white calc(80 * 3.6deg), var(--vt) calc(80 * 3.6deg));
	}
}

.css-circle{
	background: conic-gradient(white calc(85 * 3.6deg), var(--vt) calc(85 * 3.6deg));
	animation: css-circle 3s;
}

@keyframes css-circle{
	0% {
                background: conic-gradient(white 0deg, var(--vt) 0deg);
            }
	100% {
		background: conic-gradient(white calc(85 * 3.6deg), var(--vt) calc(35 * 3.6deg));
	}
}

.javascript-circle{
	background: conic-gradient(var(--cool-mint) calc(50 * 3.6deg), var(--vt) calc(50 * 3.6deg));
	animation: javascript-circle 3s;
}

@keyframes javascript-circle{
	0% {
                background: conic-gradient(var(--cool-mint) 0deg, var(--vt) 0deg);
            }
	100% {
		background: conic-gradient(var(--cool-mint) calc(50 * 3.6deg), var(--vt) calc(50 * 3.6deg));
	}
}

.bootstrap-circle{
	background: conic-gradient(white calc(70 * 3.6deg), var(--vt) calc(70 * 3.6deg));
	animation: bootstrap-circle 3s;
}

@keyframes bootstrap-circle{
	0% {
                background: conic-gradient(white 0deg, var(--vt) 0deg);
            }
	100% {
		background: conic-gradient(white calc(70 * 3.6deg), var(--vt) calc(70 * 3.6deg));
	}
}


/* Mobile device viewport*/
@media screen and (max-width: 700px){
	
	/*Navigation Menu*/
	.menu-icon .nav-menu{
		background-color: var(--soft-gray);
		color: var(--Deep-navy);
	}
	
	.menu-icon .nav-item{
		background-color: var(--light-navy);
	}
	
	.menu-icon .nav-menu .nav-link{
		color: var(--Deep-navy);
	}
	
	.menu-icon .nav-menu .nav-link:hover{
		color: var(--cool-mint);
	}
	
	#close-menu-btn{
		color: var(--Deep-navy);
	}
	
	
	/* Left side hide button*/
	.left-side{
	background-color: var(--soft-gray);
	color: var(--Deep-navy);
    top: 0;
	height: 100%;
    left: -250px !important;
	transition: 0.5s ease-in-out;
}
	
	body.show-menu .left-side{
	left: 0 !important;
}
	
	body.show-menu main::before{
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(5px);
	background: rgba(0, 0, 0, 0.2);
}
	
	#open-btn, .user-info #close-btn{
		position: absolute;
		display: block;
		font-size: 1.3rem;
	}
	
	.user-info #close-btn{
		right: 5px;
		top: 15px;
		color: var(--Deep-navy);
	}
	
	#open-btn{
		color: white;
		top: 10px;
		left: 10px;
	}
	
	.user-info{
		background-color: var(--light-navy);
	}
	
	
	/*Middle Section*/
	.middle-section{
		margin: 0;
	}
	
	.description-info{
		display: block;
		text-align: center;
	}
	.section2-image{
		display: none;
	}
	
	.section2-image img{
		display: none;
	}
	
	.second-section{
		width: 350px;
		height: 200px;
		padding: 20px;
	}
	
	/* hOMEPAGE */
	
	#home{
		display: flex;
		justify-content: center;
		padding: 100px 10px 50px;
		height: 100%;
	}
	
	button{
		font-size: 12px;
		padding: 10px 13px;
	}
	
	.para1-section2{
		font-size: 12px;
		width: 300px
	}
	
	.btns{
		justify-content: center;
		align-items: center;
	}
	
	.heading-1-section2{
		font-size: 14px;
	}
	
	/*Social Ions*/
	.social-icons{
		background-color: var(--light-navy);
	}
	
	.social-icons li a{
		color: var(--Deep-navy);
}
	
	.social-icons li a:hover{
		color: white;
	}
	
	.social-icons li a:visited{
		color: var(--cool-mint);
	}
	
	.progress-bar{
		background-color: var(--light-navy);
	}
	
	/* ABOUT US SECTION*/
	#about-me{
		display: flex;
		justify-content: center;
		padding: 50px 10px;
		height: 100%;
	}
	.wrapper{
		flex-direction: column-reverse;
	}
	
	.about-wrapper{
		font-size: 12px;
		width: 100%;
		max-width: 22rem;
	}
	
	#abt-txt{
		text-align: center;
		font-size: 20px;
	}
	
	.column-two h3{
		font-size: 12px;
		text-align: center;
	}
	
	.column-two p{
		font-size: 12px;
	}
	
	.column-one{
		grid-template-columns: 1fr;
	}
	
	.skills-container{
		padding: 20px;
	}
	
	.column-two table{
		padding: 35px 0;
	}
}


@media screen and (max-width: 1200px){
	/*Navigation Menu*/
	.menu-icon .nav-menu{
		background-color: var(--soft-gray);
		color: var(--Deep-navy);
	}
	
	.menu-icon .nav-item{
		background-color: var(--light-navy);
	}
	
	.menu-icon .nav-menu .nav-link{
		color: var(--Deep-navy);
	}
	
	.menu-icon .nav-menu .nav-link:hover{
		color: var(--cool-mint);
	}
	
	#close-menu-btn{
		color: var(--Deep-navy);
	}
	
	/* Left side hide button*/
	.left-side{
	background-color: var(--soft-gray);
	color: var(--Deep-navy);
    top: 0;
    left: -250px !important;
	transition: 0.5s ease-in-out;
}
	
	body.show-menu .left-side{
	left: 0 !important;
}
	
	body.show-menu main::before{
	content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
}
	
	#open-btn, .user-info #close-btn{
		position: absolute;
		display: block;
		font-size: 1.3rem;
	}
	
	.user-info #close-btn{
		right: 5px;
		top: 15px;
		color: var(--Deep-navy);
	}
	
	#open-btn{
		color: white;
		top: 10px;
		left: 10px;
	}
	
	.user-info{
		background-color: var(--light-navy);
	}
	
	/*Middle Section*/
	#home{
		display: flex;
		justify-content: center;
		height: 100%;
	}
	
	.middle-section{
		margin: 0;
	}
	
	.second-section{
		padding: 20px;
	}
}
